<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {{ page.title }}
            </h2>

            <hr/>

            {{ page.body|raw }}

            <div class="spacer">&nbsp;</div>
        </div>
    </div>
</div>